@{
    ViewBag.Title = "ASMS Home";
}
@section featured {
    <section class="featured">
        <div class="content-wrapper">
            <hgroup class="title">
                <h1>@ViewBag.Title.</h1>
                <h2>@ViewBag.Message</h2>
            </hgroup>
            <p>
                Please log in the system to access the full functionality.
            </p>
        </div>
    </section>
}
<h3>With this management system you can:</h3>
<ol class="round">
    <li class="one">
        <h5>Manage your products</h5>
        The system lets you create, edit and delete products as well as categorize them. 
        You have full control over what items your supermarket can sell.
    </li>

    <li class="two">
        <h5>Perform operations</h5>
        What's a supermarket without sales? 
        ASMS allows you to make sales on the fly as well as replenish your products with just a few clicks.
    </li>

    <li class="three">
        <h5>Reporting</h5>
        If you ever need to know what what's going on with your supermarket, the information is one click away!
    </li>
</ol>
