@{
    ViewBag.Title = "Reports";
}

<h2>Reports</h2>

Available reports:
<ul>
    <li>@Html.ActionLink("Products in stock", "ProductsInStock")</li>
    <li>@Html.ActionLink("See products for a specific date", "ProductsInStockByDate")</li>
    <li>@Html.ActionLink("Sales", "Sales")</li>
</ul>
