@{
    ViewBag.Title = "Reports";
}

<h2>Reports</h2>

<h3>Select the type of report you wish to see:</h3>
<ol class="round">
    <li class="one">@Html.ActionLink("Products in stock", "ProductsInStock")</li>
    <li class="two">@Html.ActionLink("Products in stock for a specific date", "ProductsInStockByDate")</li>
    <li class="three">@Html.ActionLink("Sales", "Sales")</li>
</ol>
